/*body div {
    border: green 2px solid;
}*/

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    flex-wrap: wrap;
}

.container {
    background-color: #1f2937;
}

.header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    padding: 16px;
}

.logo {
    width: auto;
    height: 50px;
}

.logo-div{
    margin-left: 150px;
}

.links {
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-right: 200px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 50px;
}

.main-header {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    width: 500px;
    text-shadow: 2px 2px rgba(113, 4, 255, 0.703);
}

.main-text {
    font-size: 18px;
    color: #e5e7eb;
    height: auto;
    width: 500px;
    padding: 16px 0;
    text-shadow: 2px 2px rgba(113, 4, 255, 0.703);
}

button {
    border-radius: 5px;
    background-color: #3882F6;
    color: white;
    font-weight: 600;
    padding: 5px 16px;
}

.sign-up-top {
    border: 2px white solid;
}

.left-main {
    margin-right: 100px;
}

.gengar {
    max-width: 400px;
    height: 100%;
    border-radius: 8px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.information-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.info-container {
    display: flex;
    margin: 16px;
    gap: 20px;
}

.image-1, .image-2, .image-3, .image-4 {
    width: 250px;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
}

.text {
    font-size: 20px;
    font-weight: 500;
    font-family: fantasy;
    margin-left: 20px;
}

.artist {
    display: flex;
    justify-content: flex-end;
    font-weight: 800;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}
.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    width: 800px;
}

.writer {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 20px;
}

.call-to-action {
    background-color: #7014a5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 900px;
    height: 100px;
    margin: 50px auto;
    border-radius: 8px;
    color: white;
    text-shadow: 2px 2px black;
}

.call-header {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
}

.call-text {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
}

.sign-up-bottom {
    border: 2px solid white;
}

.footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}